*,html{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 100%;
}

h1{
	text-align: center;
	color: white;
	line-height: 85%;
}

h1 span{
	display: block;
}

main{
	background: #82CBFF url('snow.svg') no-repeat 0 100.5%;
	background: url('snow.svg') no-repeat 0 100.5%,linear-gradient(to bottom,#82CBFF 400px,#73B5E5 500px);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-height: 500px;
	height: 50%;
}

#allFlakes{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

#allFlakes>*{
	fill: white;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -50px;
}

#head{
	background: white;
	width: 100px;
	height: 100px;
	border-radius: 50% 50% 34% 36%;
	margin: 80px auto 0;
	position: relative;
}

/* face rocks */
#head::before{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	display: block;
	margin: auto;
	width: 10px;
	height: 10px;
	border-radius: 39% 30% 43% 26%;
	box-shadow:
			  -19px  2px 0 black
			,  12px -1px 0 black
			,  -1px 46px 0 black
			, -17px 44px 0 black
			,  14px 41px 0 black;
}

/* carrot */
#head::after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	display: block;
	margin-left: -25px;
	border-radius: 30% 10% 8% 100% / 30% 60% 50% 90%;
	width: 71px;
	height: 13px;
	background: repeating-radial-gradient(circle at 0%, orange, orange 20%, black 20.1%, black 22.9%, orange 23%);
}

#chest{
	background: white;
	width: 140px;
	height: 60px;
	margin: auto;
	border-radius: 40% 40% 30% 30% / 70% 70% 40% 40%;
	position: relative;
}

/* arm with hat */
#chest::after{
	content: "";
	height: 60px;
	width: 3px;
	background: #966F33;
	display: block;
	top: 37px;
	left: 1px;
	position: absolute;
	transform-origin: top left;
	transform: rotate(120deg);
	box-shadow:
			   0   30px  0 #966F33
			, -1px 50px  0 #966F33
			, -4px 100px 0 black
			, -4px 160px 0 black
			, -1px 135px 0 black
			,  2px 135px 0 black
			,  5px 135px 0 black
			,  8px 135px 0 black
			, 11px 135px 0 black
			, 14px 135px 0 black
			, 17px 135px 0 black
			, 20px 135px 0 black
			, 23px 135px 0 black
			, 26px 135px 0 black
			, 29px 135px 0 black
			, 32px 135px 0 black
			, 35px 135px 0 black
			, 38px 135px 0 black
			, 41px 135px 0 black
			, 44px 135px 0 black
			, 47px 135px 0 black
			, 50px 135px 0 black;
}

/* arm without hat */
#chest::before{
	content: "";
	height: 60px;
	width: 3px;
	background: #966F33;
	display: block;
	top: 37px;
	right: -2px;
	position: absolute;
	box-shadow: 0 30px 0 #966F33, 1px 75px 0 #966F33;
	transform-origin: top right;
	transform: rotate(-10deg);
}

#bottom{
	background: white;
	width: 220px;
	height: 125px;
	margin: auto;
	border-radius: 14% 14% 20% 20% / 45% 45% 60% 60%;
	position: relative;
}

/* body rocks */
#bottom::after{
	content: "";
	width: 30px;
	height: 30px;
	background: black;
	display: block;
	transform: rotate(60deg);
	border-radius: 28% 24% 34% 22%;
	margin: auto;
	top: 25px;
	left: 0;
	right: 0;
	position: absolute;
	box-shadow: 45px 30px 0 black;
}